<app-navbar></app-navbar>

<div class="body mt-8 md:mt-24">

    <div class="head">
        <div class="flex justify-center items-center content-center titulo">
            <img src="../../../assets/home/logo_siccob_home.svg" alt="Logo da Sicoob" />
        </div>
        <div class="flex justify-center items-center content-center gap-4 mt-8 md:mt-14 unidades">
            <label for="drpUnidade">Unidade</label>
            <select name="unidade" id="drpUnidade" class="w-2/3 rounded-lg drpUnidadeBox">
                <option class="opUnidade" value="sicoob_ouroVerde">SICOOB OURO VERDE</option>
                <option class="opUnidade" value="sicoob_londrina">SICOOB LONDRINA</option>
            </select>
        </div>
    </div>
    <div class="flex-col justify-between items-center content-center mt-12 md:mt-28 ml-8 md:ml-24 lg:ml-44 menu">
        <div class="flex justify-start items-center content-center menuUsuario">
            <h3 class="font-semibold">Olá, Rodrigo!</h3>
        </div>
        <div class="mt-2 text-sm menuTexto">
            <p>Selecione uma opção abaixo para continuar</p>
        </div>
        <div class="flex flex-wrap mb-10 iconesMenu">
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconePA">
                <img src="../../../assets/home/pontos_de_atendimento.svg" alt="Ícone de Pontos de atendimento" />
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconePA">
                <img src="../../../assets/home/transacoes.svg" alt="Ícone de Transações" />
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconePA">
                <img src="../../../assets/home/transportadoras.svg" alt="Ícone de Transportadoras" />
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconePA">
                <img src="../../../assets/home/parametrizacoes.svg" alt="Ícone de Parametrizações" />
            </div>
        </div>
    </div>       

</div>