<app-navbar></app-navbar>
<div class="body mt-8 md:mt-24">

    <div class="head">
        <div class="flex justify-center items-center content-center titulo">
            <img src="../../../assets/home/logo_siccob_home.svg" alt="Logo da Sicoob" />
        </div>
        <div class="flex justify-center items-center content-center gap-4 mt-8 md:mt-14 unidades">
            <label for="drpUnidade">Unidade</label>
            <select name="unidade" id="drpUnidade" class="w-2/3 rounded-lg drpUnidadeBox">
                <option class="opUnidade" value="sicoob_ouroVerde">SICOOB OURO VERDE</option>
                <option class="opUnidade" value="sicoob_londrina">SICOOB LONDRINA</option>
            </select>
        </div>
    </div>
    <div class="flex-col justify-between items-center content-center mt-12 md:mt-28 ml-8 md:ml-24 lg:ml-44 menu">
        <div class="flex justify-start items-center content-center menuUsuario">
            <h3 class="font-semibold">Olá, Rodrigo!</h3>
        </div>
        <div class="mt-2 text-sm menuTexto">
            <p>Selecione uma opção abaixo para continuar</p>
        </div>
        <div class="flex flex-wrap mb-10 iconesMenu">
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconePA">
                <a><img class="imgIconPA" src="../../../assets/home/pontos_de_atendimento.svg" alt="Ícone de Pontos de atendimento" /></a>
                <a href="https://developer.mozilla.org"><img class="imgIconPAHover" src="../../../assets/home/pontos_de_atendimento_hover.svg" alt="Ícone de Pontos de atendimento ao passar o mouse" /></a>
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconeTransacoes">
                <a><img class="imgIconTransacoes" src="../../../assets/home/transacoes.svg" alt="Ícone de Transações" /></a>
                <a href="https://developer.mozilla.org"><img class="imgIconTransacoesHover" src="../../../assets/home/transacoes_hover.svg" alt="Ícone de Transações ao passar o mouse" /></a>
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconeTransp">
                <a><img class="imgIconTransp" src="../../../assets/home/transportadoras.svg" alt="Ícone de Transportadoras" /></a>
                <a href="https://developer.mozilla.org"><img class="imgIconTranspHover" src="../../../assets/home/transportadoras_hover.svg" alt="Ícone de Transportadoras ao passar o mouse" /></a>
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconeParam">
                <a><img class="imgIconParam" src="../../../assets/home/parametrizacoes.svg" alt="Ícone de Parametrizações" /></a>
                <a href="https://developer.mozilla.org"><img class="imgIconParamHover" src="../../../assets/home/parametrizacoes_hover.svg" alt="Ícone de Parametrizações ao passar o mouse" /></a>
            </div>
            <div class="mr-4 md:mr-10 lg:mr-20 mt-6 iconeUsers">
                <a><img class="imgIconUsers" src="../../../assets/home/usuarios.svg" alt="Ícone de Usuários" /></a>
                <a href="cadastroUsuario"><img class="imgIconUsersHover" src="../../../assets/home/usuarios_hover.svg" alt="Ícone de Usuários ao passar o mouse" /></a>
            </div>
        </div>
    </div>       

</div>