:root {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: rgba(245, 245, 245, 0.5);
    font-size: 1rem;
    color: rgba(25, 25, 25, 1);
    font-weight: 400;
}

#drpUnidade {
    border: 1px solid rgba(151, 151, 151, 1);
    appearance: none;
}

.imgIconPAHover, .imgIconTransacoesHover, .imgIconTranspHover, .imgIconParamHover, .imgIconUsersHover {
    display: none;
}

.iconePA:hover .imgIconPA, .iconeTransacoes:hover .imgIconTransacoes, .iconeTransp:hover .imgIconTransp,
.iconeParam:hover .imgIconParam, .iconeUsers:hover .imgIconUsers {
    display: none;
}

.iconePA:hover .imgIconPAHover, .iconeTransacoes:hover .imgIconTransacoesHover, .iconeTransp:hover .imgIconTranspHover,
.iconeParam:hover .imgIconParamHover, .iconeUsers:hover .imgIconUsersHover {
    display: block;
    transform: scale(1.2);
}


