<app-menu-hamburguer class="navbar"></app-menu-hamburguer>

<div class="main-container" [ngClass]="{'move-right': menuOpen}">
  <div class="navbarTitulo">
    <div class="w-full h-10 flex justify-center content-center items-center mx-6 geral">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="18" viewBox="0 0 40 40" fill="none">
            <path d="M8.88889 31.1111H13.3333V20H8.88889V31.1111ZM26.6667 31.1111H31.1111V8.88889H26.6667V31.1111ZM17.7778 31.1111H22.2222V24.4444H17.7778V31.1111ZM17.7778 20H22.2222V15.5556H17.7778V20ZM4.44444 40C3.22222 40 2.17593 39.5648 1.30556 38.6944C0.435185 37.8241 0 36.7778 0 35.5556V4.44444C0 3.22222 0.435185 2.17593 1.30556 1.30556C2.17593 0.435185 3.22222 0 4.44444 0H35.5556C36.7778 0 37.8241 0.435185 38.6944 1.30556C39.5648 2.17593 40 3.22222 40 4.44444V35.5556C40 36.7778 39.5648 37.8241 38.6944 38.6944C37.8241 39.5648 36.7778 40 35.5556 40H4.44444ZM4.44444 35.5556H35.5556V4.44444H4.44444V35.5556Z" fill="white"/>
        </svg>
      <h3 class="pl-3">Parametrização</h3>
    </div>
  </div>

  <div class="icons flex flex-wrap md:justify-center md:content-center">
    <!--Cadastrar usuário-->
    <div class="iconeEditar flex mt-6 ml-4 py-3 px-2.5">
      <!-- Mobile e Tablet -->
      <a href=""><img class="imgIconEditUserMob" src="../../../assets/param/editar.svg" alt="Ícone de Editar" /></a>
      <!-- Mobile e Tablet Hover -->
      <a><img class="imgIconEditUserMobHover" src="../../../assets/param/editar_hover.svg" alt="Ícone de Editar ao passar o mouse" /></a>
      <!-- Desktop -->
      <a><img class="imgIconEditUser" src="../../../assets/param/editar.svg" alt="Ícone de Editar" /></a>
      <!-- Desktop Hover -->
      <a><img class="imgIconEditUserHover" src="../../../assets/param/editar_hover.svg" alt="Ícone de Editar ao passar o mouse" /></a>
    </div>
  </div>
  <div class="processos-container flex flex-col justify-center lg:gap-2 mx-8 mt-6 w-7/12">
        <div class="processos pPA flex lg:justify-between pr-4">
            <h6 class="my-2 ml-4">Carga - Ponto de Atendimento</h6>
            <a class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M22 8L12 18L2 8L3.775 6.225L12 14.45L20.225 6.225L22 8Z" fill="white"/>
            </svg></a>
        </div>
        <div class="processos pPA flex lg:justify-between pr-4">
            <h6 class="my-2 ml-4">Carga - Transportes</h6>
            <a class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M22 8L12 18L2 8L3.775 6.225L12 14.45L20.225 6.225L22 8Z" fill="white"/>
            </svg></a>
        </div>
        <div class="processos pPA flex lg:justify-between pr-4">
            <h6 class="my-2 ml-4">Carga - Transações</h6>
            <a class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M22 8L12 18L2 8L3.775 6.225L12 14.45L20.225 6.225L22 8Z" fill="white"/>
            </svg></a>
        </div>
        <div class="processos pPA flex lg:justify-between pr-4">
            <h6 class="my-2 ml-4">Carga - Moedas</h6>
            <a class="mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M22 8L12 18L2 8L3.775 6.225L12 14.45L20.225 6.225L22 8Z" fill="white"/>
            </svg></a>
        </div>
  </div>
</div>

