<div class="body">
    <div class="flex justify-center content-center pt-40 titulo">
        <img src="../../../assets/login/logo_login.svg" alt="Logo da Sicoob" />
    </div>

    <form [formGroup]="loginForm" class="flex md:justify-center md:content-center ml-10 usuarioSenha">
        <div class="flex-col justify-center content-center items-center flex-wrap formLogin">
            <div class="mt-28 flex usuario">
                <span class="material-symbols-outlined" style="color: rgba(245, 245, 245, 1);">person</span>
                <label class="text-white ml-1 labelUsuario">USUÁRIO</label>           
            </div>
            <div class="flex input-wrapper">
                <input [(ngModel)]="loginDto.email" formControlName="username" id="inputUsuario" class="mt-2 mr-3" type="email" required placeholder="Usuário" name="emailLogin">
            </div>
            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-warning">*email de login obrigatório!</small>
            <div class="flex mt-12 senha">
                <span class="material-symbols-outlined" style="color: rgba(245, 245, 245, 1);">lock</span>
                <label class="text-white ml-1 labelSenha">SENHA</label>
            </div>
            <div class="flex input-wrapper">
                <input [(ngModel)]="loginDto.senha" formControlName="password" id="inputSenha" class="grow shrink mt-2 mr-3" [type]="type" required placeholder="Senha" name="senhaLogin">
                <button (click)="OcultarVisuzlizarSenha()" id="eyeIconOff" class="material-symbols-outlined visibility_off hide">visibility_off</button>
                <button (click)="OcultarVisuzlizarSenha()" id="eyeIconOn" class="material-symbols-outlined visibility">visibility</button>
            </div>
            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-warning">*senha obrigatória!</small>
            <div class="esqueceuSenha flex justify-end mr-10 mt-1">
                <a data-bs-toggle="modal" data-bs-target="#modalEsqueceuSenha">Esqueci minha senha</a>
            </div> 
            <div class="flex justify-center content-center items-center py-3 px-28 mt-16 fazerLogin">
                <button (click)="onLogin(loginDto)" type="submit" data-bs-toggle="modal" data-bs-target="#modalAcessarCodVerificacao">ACESSAR</button>    
            </div>  
        </div>
           
    </form>
</div>

<!-- Modal Acessar - Código de verificação -->
<div class="modal fade" id="modalAcessarCodVerificacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header flex justify-center content-center items-center">
          <h5 class="modal-title fw-bold mt-1" id="TituloModalCentralizado">Verificação de acesso</h5>
        </div>
        <div class="modal-body mt-6">
            Insira o código de 4 dígitos enviado para seu celular ***
            <form>             
                <input type="text" class="form-control mt-6" id="recipient-cod" placeholder="0-0-0-0-0-0">
            </form>
            <div class="footerReenviarCodAcesso">  
                <a type="button" class="btn flex justify-end" data-bs-dismiss="modal">Reenviar código</a>
            </div> 
        </div>
        <div class="modal-footer flex-col">
            <div class="footerProximoAcesso py-1 mx-4 w-96">
                <button [routerLink]="['/home']" routerLinkActive="router-link-active"  type="button" class="btn">ACESSAR</button>
            </div>
            <div class="footerCancelarAcesso">  
                <a type="button" class="btn" data-bs-dismiss="modal">Cancelar</a>
            </div>         
        </div>
      </div>
    </div>
</div>

<!-- Modal Esqueci Minha Senha -->
<div class="modal fade" id="modalEsqueceuSenha" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header flex justify-center content-center items-center">
          <h5 class="modal-title fw-bold mt-1" id="TituloModalCentralizado">Esqueci minha senha</h5>
        </div>
        <div class="modal-body mt-6">
                Para redefinir sua senha, informe o e-mail cadastrado na plataforma e lhe enviaremos um código de verificação.
            <form>
                <div class="form-group flex mt-6 inputEmailEsqueciSenha">                    
                  <label for="recipient-email" class="flex justify-start col-form-label">
                    <span class="material-symbols-outlined mr-1" style="color: rgba(0, 60, 68, 1);">mail</span>
                        E-mail
                    </label>                 
                </div>
                <input type="email" class="form-control" id="recipient-email">
            </form>
        </div>
        <div class="modal-footer flex-col">
            <div class="footerProximoEsqueciSenha py-1 mx-4 w-96">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEsqueceuSenhaCodVerificacao">PRÓXIMO</button>
            </div>
            <div class="footerCancelarEsqueciSenha">  
                <a type="button" class="btn" data-bs-dismiss="modal">Cancelar</a>
            </div>         
        </div>
      </div>
    </div>
</div>

<!-- Modal Esqueci Minha Senha - Código de verificação -->
<div class="modal fade" id="modalEsqueceuSenhaCodVerificacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header flex justify-center content-center items-center">
          <h5 class="modal-title fw-bold mt-1" id="TituloModalCentralizado">Esqueci minha senha</h5>
        </div>
        <div class="modal-body mt-6">
            Insira abaixo o código enviado para o e-mail <span style="font-weight: 700;">emailemail.com.br</span>
            <form>
                <div class="form-group flex mt-6 inputEmailEsqueciSenha">                    
                  <label for="recipient-email2" class="flex justify-start col-form-label">
                    <span class="material-symbols-outlined mr-2" style="color: rgba(0, 60, 68, 1);">vpn_key</span>
                        Código de verificação
                    </label>                 
                </div>
                <input type="email" class="form-control" id="recipient-email2">
            </form>
        </div>
        <div class="modal-footer flex-col">
            <div class="footerProximoEsqueciSenha py-1 mx-4 w-96">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalEsqueceuSenhaAlterarSenha">PRÓXIMO</button>
            </div>
            <div class="footerCancelarEsqueciSenha">  
                <a type="button" class="btn" data-bs-dismiss="modal">Cancelar</a>
            </div>         
        </div>
      </div>
    </div>
</div>

<!-- Modal Esqueci Minha Senha - Alterar Senha -->
<div class="modal fade" id="modalEsqueceuSenhaAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header flex justify-center content-center items-center">
          <h5 class="modal-title fw-bold mt-1" id="TituloModalCentralizado">Alterar Senha</h5>
        </div>
        <div class="modal-body mt-6">
            <div class="flex justify-around items-center p-2 alertaNovaSenha">
                <span class="material-symbols-outlined">error</span>Atençao! A nova senha precisa ser diferente da senha atual
            </div>
            <form>
                <div class="form-group flex items-center mt-6 novaSenha">
                    <span class="material-symbols-outlined">lock</span>
                    <label for="recipient-senha" class="col-form-label ml-1">Digite sua senha</label>           
                </div>
                <div class="flex">
                    <input type="password" class="form-control" id="recipient-senha">
                </div>
                <div class="form-group flex items-center mt-12 confirmarSenha">
                    <span class="material-symbols-outlined">lock</span>
                    <label for="recipient-confirmar-senha" class="col-form-label ml-1">Confirme sua senha</label>
                </div>
                <div class="flex">
                    <input type="password" class="form-control" id="recipient-confirmar-senha">
                </div>
            </form>
        </div>
        <div class="modal-footer flex-col">
            <div class="footerProximoEsqueciSenha py-1 mx-4 w-96">
                <button type="button" class="btn">PRÓXIMO</button>
            </div>
            <div class="footerCancelarEsqueciSenha">  
                <a type="button" class="btn" data-bs-dismiss="modal">Cancelar</a>
            </div>         
        </div>
      </div>
    </div>
</div>
