:root {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 1);
    font-size: 1rem;
}

.body {
    background-color: rgba(0, 60, 68, 1);
}

.tituloMenu {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    background-color: #003C44;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.menu-overlay.show {
    display: block;
    transform: translateX(0);
}

.main-container {
    transition: margin-left 0.3s ease;
    margin-left: 0;
    transition: transform 0.3s ease;
}
  
  .navbar {
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1000; /* Garantir que a navbar fique acima do menu */
  }
  
  .move-right {
    transform: translateX(16rem);
  }